#botoes,
#caixaMagica {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

button {
    padding: 1rem 3rem;
    margin: 1rem;
    display: inline-block;
    border: 0.15rem solid #ff4d00;
    border-radius: 1rem;
    width: 70%;
    background-color: white;
}

#caixaMagica {
    background: black;
}

#caixaMagica button:hover {
    color: white;
    background-color: #ff4d00;
}
